@model Highscore.Models.ScoreViewModel

<section class="global-lederbord mb-4">
	<div class="container">
		<div class="row justify-content-end">
			<div class="col-lg-4 col-md-6 col-12">
				<a href="/Highscores/New" class="w-65 btn btn-lg btn-primary alige-text-right">Register High Score</a>
			</div>
		</div>
		<div class="row mt-4">
			<partial name="_GlobalHighscore" />

		</div>
	</div>
</section>
